@model IEnumerable<CafeArts.Models.Order>

@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/Admin_LayoutPage.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Orders</h1>
</div>

<a href="@Url.Action("ModifyOrder","Admin")" class="btn btn-primary">Create</a><br /><br />


<table class="table table-bordered table-hover" width="100%">


    @if (!Model.Any())
    {
        
            <tr>
                <td>There are no orders available</td>
            </tr>
        
    }

    else
    {
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Transaction ID</th>
                <th>RP Unique ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Address</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Type</th>
                <th>WayBill</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>

        foreach (var item in Model)
        {
            
            <tbody>

                <tr>

                    <td>
                        <a href="@Url.Action("OrderDetails","Admin", new { id = item.OrderID})">@item.OrderID</a>
                    </td>
                    <td>
                        @item.TransactionID
                    </td>
                    <td>
                        @item.RPUniquePaymentID
                    </td>
                    <td>
                        @item.CustomerName
                    </td>
                    <td>
                        @item.CustomerEmail
                    </td>
                    <td>
                        @item.CustomerContact
                    </td>
                    <td>
                        @item.CustomerAddress
                    </td>
                    <td>
                        @item.TotalAmount
                    </td>
                    <td>
                        @item.CreatedDate
                    </td>
                    <td>
                        @item.OrderType
                    </td>
                    <td>
                        @item.WayBill
                    </td>
                    <td>
                        @{
                            if (item.OrderStatus == "Ordered")
                            {
                                @Html.ActionLink("Confirm", "ConfirmOrder", "Admin", new { id = item.OrderID }, new { @class = "btn btn-primary" })

                            }
                            else
                            {
                                @item.OrderStatus
                            }
                        }

                        @*<button type="button" class="btn btn-primary" value="UpdateCategory" onclick="location.href = '@Url.Action("UpdateCategory(item.CategoryID)","Admin")'">Edit</button>*@
                    </td>
                    <td>
                        <a href="@Url.Action("ModifyOrder","Admin", new { id = item.OrderID})" class="btn btn-primary">Edit</a>
                    </td>



                </tr>

            </tbody>
            



        }
    }
</table>


