

<ul class="nav navbar-nav navbar-right">
    @{
        if (User.Identity.IsAuthenticated)
        {
            if (ViewBag.CartItemCount == "0")
            {
                <li><a href="@Url.Action("MyCart", "Cart")"><span class="menu_text">My Cart</span><span class="menu_icon glyphicon glyphicon-shopping-cart" style="color: #165A72"></span></a></li>
            }
            else
            {
                <li><a href="@Url.Action("MyCart", "Cart")"><span class="menu_text">My Cart (@ViewBag.CartItemCount items)</span><span class="menu_icon glyphicon glyphicon-shopping-cart" style="color: #165A72"><span class="badge badge-light" style="font-size:10px">@ViewBag.CartItemCount</span></span></a></li>
            }

        }

        else
        {
            <li><a href="@Url.Action("MyCart", "Cart")"><span class="menu_text">My Cart</span><span class="menu_icon glyphicon glyphicon-shopping-cart" style="color: #165A72"></span></a></li>
        }
    }

</ul>
