@model IEnumerable<CafeArts.Models.Cart>
@using CafeArts.Models

@{
    ViewBag.Title = "Order Placed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Thank you! Your order has been placed <span style="color:green" class="glyphicon glyphicon-check"></span></h3>
<br />
<h4>Order #@ViewBag.OrderDetails.OrderID</h4>

<dl class="dl-horizontal">
    <dt style="color: #165A72"></dt>
    <dd>@ViewBag.OrderDetails.CustomerName</dd>
    <dt style="color: #165A72"></dt>
    <dd>(@ViewBag.OrderDetails.CustomerEmail)</dd>
    <dt style="color: #165A72">Shipping Address:</dt>
    <dd>@ViewBag.OrderDetails.CustomerAddress</dd>
    <dt style="color: #165A72">Contact:</dt>
    <dd>@ViewBag.OrderDetails.CustomerContact</dd>
    <dt style="color: #165A72">Payment method:</dt>
    <dd>@ViewBag.OrderDetails.OrderType</dd>

    @{
        if (ViewBag.OrderDetails.OrderType == "Cash on delivery")
        {
            <dt style="color: #165A72">Amount to be paid:</dt>

        }
        else
        {
            <dt style="color: #165A72">Amount paid:</dt>
        }
    }

    <dd>@ViewBag.OrderDetails.TotalAmount.ToString("C0")</dd>

    <dt style="color: #165A72">Status:</dt>
    <dd>@ViewBag.OrderDetails.OrderStatus</dd>
</dl>
<p>You will receive a confirmation email with your order summary shortly.</p>
<p>We will be sending you the updates regarding order status to your email address.</p>
<div>
    <a href="@Url.Action("All","Product")" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i> Continue shopping</a>
</div>
<br />

<h4>Products to be delivered</h4>
<hr />
<ul>
    @foreach (var cart in Model)
    {

        <li style="list-style:none">

            <img src="@ByteArrayToImageConverter.Converter(cart.Product.ProductImage1)" alt="Product image" style="height:100px; width:100px; border-radius: 10px;"><span class="badge" style="position:relative; left:-15px; bottom:-40px;">@cart.Quantity</span><span style="position:relative"><strong>@cart.Product.ProductName</strong> (&#8377;@cart.Product.ProductPrice<small>/each)</small></span>
            <br />
            <br />
        </li>

    }
</ul>

<a href="@Url.Action("Index","Home")" class="btn btn-default"><i class="glyphicon glyphicon-home"></i> Home</a>





